{% extends 'layout.html' %}

{% block body %}

	<h1>Callings</h1>
	
	<form method="POST" action="calling">
		{% from "includes/_formhelpers.html" import render_field %}
		{{ form.csrf_token }}	
		<div class="form-group">
		{{ render_field(form.democall,placeholder= "Default",class_="form-control") }}
		</div>
		<div class="form-group">
		{{render_field(form.demodate,placeholder="yy-mm-dd",class_="form-control")}}
		</div>
		
		<p><input type="submit" class="btn btn_primary" value="Find"></p>
		
		
	</form>

{% endblock %}	