<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>StudentTrackingApp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/style.css') }}">
	
</head>
<body background-image ="static/images/tech.jpeg">

	
	{%include 'includes/_navbar.html' %}
	{% block body %}{% endblock %}

  
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <h1><center>WELCOME TO DIGITALLYNC</center></h1>
    
	

</body>
</html>

