 {% extends 'layout.html' %}
 
 {% block body %}
 <div class="container-fluid">
   
   <div class="row">
     <div class="col-sm-1" style="background-color:lavender;"></div>
    <!-- <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div> -->
  <div class="col-sm-10" style="background-color:lavender;">
    <div class="form-group">




 <center><h1>Students</h1></center></div>
 <center><h2>Completed_Students</center>
    <style>
 table, th, td {
     border: 2px solid black;
     border-collapse: collapse;
     width:100px;
 }
 </style>
 <form method="GET", action="/status" >

 <center><table style="width:100%">
  <thead>
   <tr>
    <th><center>Id</center></th>
     <!-- <th><center>Name</center></th> -->
     <th><center>Name</center></th>
    <th><center>Course</center></th>
    <th><center>CompletionDate</center></th>
    <th><center>JoiningDate</center></th>
    <th><center>CourseFee</center></th>
     <th><center>Instructor</center></th>
    <th><center>AdhaarNumber</center></th>
    <th><center>Mobile</center></th>
    <th><center>Email</center></th>
    <th><center>Remark</center></th>
   </thead>   
   </tr>  
   {% for row in rv %}
   <tr>
     <td><center>{{row.0}}</center></td>
    <td><center>{{row.1}}</center></td>
     <td><center>{{row.2}}</center></td>  
     <td><center>{{row.3}}</center></td>
    <td><center>{{row.4}}</center></td>
    <td><center>{{row.5}}</center></td>
    <td><center>{{row.6}}</center></td>
     <td><center>{{row.7}}</center></td>
     <td><center>{{row.8}}</center></td>
     <td><center>{{row.9}}</center></td>
     <td><center>{{row.10}}</center></td>
     
     {% endfor %}
   
 </table></center>

 <center><h3>Pursuing_Students</center>
 <center><table style="width:100%">
  <thead>
   <tr>
    <th><center>Id</center></th>
     <!-- <th><center>Name</center></th> -->
     <th><center>Name</center></th>
    <th><center>Course</center></th>
    <th><center>CompletionDate</center></th>
    <th><center>JoiningDate</center></th>
    <th><center>CourseFee</center></th>
     <th><center>Instructor</center></th>
    <th><center>AdhaarNumber</center></th>
    <th><center>Mobile</center></th>
    <th><center>Email</center></th>
    <th><center>Remark</center></th>
   </thead>   
   </tr>  
   {% for row in rv %}
   <tr>
     <td><center>{{row.0}}</center></td>
    <td><center>{{row.1}}</center></td>
     <td><center>{{row.2}}</center></td>  
     <td><center>{{row.3}}</center></td>
    <td><center>{{row.4}}</center></td>
    <td><center>{{row.5}}</center></td>
    <td><center>{{row.6}}</center></td>
     <td><center>{{row.7}}</center></td>
     <td><center>{{row.8}}</center></td>
     <td><center>{{row.9}}</center></td>
     <td><center>{{row.10}}</center></td>
     
     {% endfor %}
   
 </table></center>
 <br><br>
  </div>
   <div class="col-sm-1" style="background-color:lavender;"></div>
   </div>

 </div>

</form>
 
 
 {% endblock %}